<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/app-coder/">Inicio</a>
        <a class="navbar-brand" href="/app-coder/profesores">Profesores</a>
        <a class="navbar-brand" href="{% url 'Cursos' %}">Cursos</a>
        <a class="navbar-brand" href="/app-coder/estudiantes">Estudiantes</a>
        <a class="navbar-brand" href="/app-coder/entregables">Entregables</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>